[submodule "modules/bitshuffle"]
	path = modules/bitshuffle
	url = https://github.com/kiyo-masui/bitshuffle
[submodule "modules/slsDetectorPackage"]
	path = modules/slsDetectorPackage
	url = https://github.com/slsdetectorgroup/slsDetectorPackage.git
